body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  margin-top: 150px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.patient-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.title{
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}


.patient-form {
  max-width: 400px;
  width: 100%;
  margin-top: 50px;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group select {
  width: 100%;
  padding: 0.45rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="file"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.error {
  margin-top: 0.25rem;
  color: red;
  font-size: 0.875rem;
}
.error-enter {
  opacity: 0.01;
}

.error-enter.error-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.error-leave {
  opacity: 1;
}

.error-leave.error-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.submit-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.submit-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #f0f0f0; 
  text-decoration: none;
  color: #000000; 
  border: 1px solid #ccc;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cancel-button:hover {
  background-color: #e9e9e9;
  color: #000000; 
}

.no-patients {
  margin-top: 1rem;
  font-size: 1rem;
  color: #555;
}
.button-container {
  display: flex;
  gap: 10px;
}